*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:host
{
    --header-bg-color: silver;
    --header-height: 2em;
    --header-padding: 5px;
    --border-size: 5px;

    container: nwmTool / size;
    border: var(--border-size) solid var(--header-bg-color);
    border-radius: 5px;
    max-height: calc(var(--border-size) + var(--header-height) + var(--header-padding) * 2);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    transition: max-height .3s linear;
    background-color: antiquewhite;
    aspect-ratio: 1/1;
    resize: vertical;
    /* pointer-events: none; */
}
:host(.open)
{
    max-height: 70vh;
}
.tool-header
{
    background-color: var(--header-bg-color);
    text-align: center;
    cursor: pointer;
    height: calc(var(--header-height) + var(--header-padding) * 2);
    /* max-height: 10cqh; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px;
    padding-top: 0;
    align-content: center;
    /* pointer-events: all; */
    /* TODO : les grands titres ne sont pas adapté */
}
.tool-header h2
{
    font-size: 1.5em;
}

.tool-container
{
    width: 100cqw;
    height: 90cqh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.form-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    height: 100%;
}
.form-container fieldset
{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container fieldset
{
    width: 45%;
}
.form-container input
{
    width: 4em;
}
.form-container button:last-child
{
    /* grid-column: 1/-1; */
    width: 100%;
}
@media screen and (min-width: 700px) 
{
    :host
    {
        /* aspect-ratio: 16/9; */
    }
}
@container nwmTool (min-width: 700px)
{
    
    .tool-container
    {
        width: 100%;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
    }
    .form-container
    {
        flex-direction: column;
        justify-content: start;
    }
    .form-container fieldset
    {
        width: 100%;
    }
}