.tool-container
{
    overflow: hidden;
}

.form-container
{
    overflow-y: auto;
    overflow-x: hidden;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    scrollbar-width: thin;
    justify-content: space-evenly;
    align-items: start;
    position: relative;
}

.display-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5cqh 5cqw;
    position: relative;
    min-width: 40cqw;
}
.box-shadow-target, .text-shadow-target
{
    height: 30cqh;
    width: 30cqw;
}
.box-shadow-target
{
    border: 2px solid black;
    border-radius: 10px;
}
.text-shadow-target
{
    font-size: 2em;
    text-overflow: ellipsis;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button
{
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
}
.code-button
{
    position: absolute;
    top: 5px;
    right: 5px;
}
.shadow-switch-button
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.example-text
{
    position: absolute;
    bottom: 5px;
    left: 50%;
    translate: -50% 0;
    text-align: center;
}
.shadow-set
{
    max-width: 30%;
}