*[class], ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100dvh;
    overflow: hidden;
}
.tools-header
{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5px 1dvw;
}
.tools-header h1
{
    text-align: center;
}
.tools-container
{
    padding: 0 1dvw;
    width: 100%;
    min-height: 80dvh;
}
.loader-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: opacity 0.5s linear;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-credit
{
    ul
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .loader-container &
    {
        position: absolute;
        bottom: 50px;
        left: 50%;
        translate: -50% 0;
        width: 100%;
    }
}