*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:host
{
    --header-bg-color: silver;
    --header-height: 2em;
    --header-padding: 5px;
    --border-size: 5px;

    container: nwmTool / size;
    border: var(--border-size) solid var(--header-bg-color);
    border-radius: 5px;
    max-height: calc(var(--border-size) + var(--header-height) + var(--header-padding) * 2);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    transition: max-height .3s linear;
    background-color: antiquewhite;
    aspect-ratio: 1/1;
    resize: vertical;
}
:host(.open)
{
    max-height: 70vh;
}
.tool-header
{
    background-color: var(--header-bg-color);
    text-align: center;
    cursor: pointer;
    height: calc(var(--header-height) + var(--header-padding) * 2);
    /* max-height: 10cqh; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px;
    padding-top: 0;
    align-content: center;
    /* TODO : les grands titres ne sont pas adapté */
}
.tool-header h2
{
    font-size: 1.5em;
}

.tool-container
{
    width: 100cqw;
    height: 90cqh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.form-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    height: 100%;
}
.form-container fieldset
{
    width: 45%;
}
.form-container input
{
    width: 4em;
}
.form-container button:last-child
{
    /* grid-column: 1/-1; */
    width: 100%;
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayBlock
{
    background-color: #121212;
    color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
}
.displayBlock h3
{
    margin-bottom: 20px;
}
.displayBlock pre
{
    background-color: #242424;
    position: relative;
    padding: 20px;
    border:2px solid darkseagreen;
    border-radius: 5px;
    max-height: 50vh;
    overflow-y: auto;
}
.displayBlock .copy
{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px dashed #121212;
    border-top: none;
    border-right: none;
    background-color: darkseagreen;
    padding: 5px;
    cursor: pointer;
}
.displayBlock .copy:hover
{
    background-color: rgb(109, 175, 109);
}
.displayBlock .close
{
    display: block;
    margin: 20px auto;
    padding: 5px;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;;
    border-radius: 5px;
}
.displayBlock .selector{color: goldenrod;}
.displayBlock .property{color: lightskyblue;}
.displayBlock .value{color:chocolate;}
@media screen and (min-width: 700px) 
{
    :host
    {
        /* aspect-ratio: 16/9; */
    }
}
@container nwmTool (min-width: 700px)
{
    
    .tool-container
    {
        width: 100%;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
    }
    .form-container
    {
        flex-direction: column;
        justify-content: start;
    }
    .form-container fieldset
    {
        width: 100%;
    }
}