*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:host
{
    --header-bg-color: silver;
    --header-height: 2em;
    --header-padding: 5px;
    --border-size: 5px;

    container: nwmTool / size;
    border: var(--border-size) solid var(--header-bg-color);
    border-radius: 5px;
    max-height: calc(var(--border-size) + var(--header-height) + var(--header-padding) * 2);
    min-width: 320px;
    max-width: 320px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    transition: max-height .3s linear, max-width .3s linear;
    background-color: antiquewhite;
    aspect-ratio: 1/1;
    resize:none;
    position: absolute;

    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
:host(.open)
{
    min-height: 180px;
    max-height: 100dvh;
    max-width: 100dvw;
    resize:both;
}

.window-header
{
    background-color: var(--header-bg-color);
    text-align: center;
    cursor: grab;
    height: calc(var(--header-height) + var(--header-padding) * 2);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 5px;
    padding-top: 0;
    align-content: center;
    
    :host(.moving) &
    {
        cursor: grabbing;
    }
    & h2
    {
        font-size: clamp(1em, 7cqw, 2em);
        user-select: none;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    & .btns-container 
    {
        width: 132px;
        height: 33px;
        & .btn
        {
            display: inline-block;
            width: 33px;
            height: inherit;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:hover
            {
                background-color: darkslategray;
            }
            &.close:hover
            {
                background-color: red;
            }
        }
    }
    
}

.window-container
{
    width: 100cqw;
    height: 90cqh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    position: relative;
    .information
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
    }
}

@container nwmTool (min-width: 700px)
{
    .window-container
    {
        width: 100%;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
    }
}
.hide
{
    display: none !important;
}