
.display-container
{
    display: grid;
    width: 100%;
    max-height: 50cqh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}
.rowsForm, .columnsForm
{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 5px;
    scrollbar-width: thin;
}
.rowsForm
{
    overflow-y: auto;
    overflow-x: hidden;
    grid-row: 2/3;
    grid-column: 1/2;
}
.columnsForm
{
    max-height: 50cqh;
    overflow-x: auto;
    grid-row: 1/2;
    grid-column: 2/3;
}
:where(.rowsForm, .columnsForm) input
{
    width: 6ch;
    height: auto;
    max-height: 2em;
    text-align: center;
}
.grid
{
    border: 1px solid darkslategray;
    grid-row: 2/3;
    grid-column: 2/3;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}
.grid [class*="box"]
{
    border: 1px dashed black;
}

@container nwmTool (min-width: 700px)
{
    .display-container
    {
        max-height: 90cqh;
    }
}